<jce-user-form  (userAddedEvent) = "addUser($event)"></jce-user-form>
<jce-spinner [visible] = "isLoading"></jce-spinner>
<div style = "margin-top: 5px">
    <h3>Users list:</h3>
    <ul class="list-group-item users">
        <li class="list-group-item"  *ngFor = "let user of users"  (click) = "select(user)" [class.active]="currentUser == user" >
            <jce-user [user] = "user" (deleteEvent) = "deleteUser($event)" (editEvent) = "updateUser($event)"></jce-user>
        <ul>
          <li *ngFor = "let title of user.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul>
        </li>
    </ul>
</div> 