<span *ngIf = "!isEdit">Title: {{post.title}}, Content: {{post.content}}, Author: {{post.author}}</span>
<span *ngIf = "isEdit"> 
    Title: <input type = "text" [(ngModel)] = "post.title"> 
    Content: <input type = "text" [(ngModel)] = "post.content"> 
    Author: <input type = "text" [(ngModel)] = "post.author"> 
</span>
<button type="button" class="pull-right btn btn-danger btn-xs" (click) = "sendDelete()">Delete</button>
<button type="button" class="pull-right btn btn-info btn-xs" style="margin-right: 5px" (click) = "toggleEdit()">{{editButtonText}}</button>
<button type="button" class="pull-right btn btn-danger btn-xs" style="margin-right: 5px" *ngIf="isEdit" (click) = "cancelEdit()">Cancel</button>