<h2>Add User</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name = "name" required [(ngModel)] = "user.name">
  </div>
  <div class="form-group">
    <label for="email">EMail</label>
    <input type="text" class="form-control" id="email" name = "email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" [(ngModel)] = "user.email" #email="ngModel">
    <div *ngIf="!email.valid">
        Invalid email
    </div>       
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>