<jce-post-form  (postAddedEvent) = "addPost($event)"></jce-post-form>
<jce-spinner [visible] = "isLoading"></jce-spinner>
<div style = "margin-top: 5px">
    <h3>Posts list:</h3>
    <ul class="list-group posts">
        <li class="list-group-item" *ngFor = "let post of posts" (click) = "select(post)" [class.active]="currentPost == post">
            <jce-post [post] = "post" (deleteEvent) = "deletePost($event)" (editEvent) = "updatePost($event)"></jce-post>          
        <ul>
          <li *ngFor = "let name of post.userOwners">
            {{(name | async)?.name}}
          </li>
        </ul> 
        </li>
    </ul>
</div> 